* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.navbar.navbar-1 .navbar-toggler-icon {
	background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000");
}
